

#App {
  font-family: 'Times New Roman', Times, serif;
  height: 100vh;
  
  /*text-align: center;*/
}

#page-wrap {
  text-align: center;
  overflow: auto;
}


.App-logo {
  height: 40vmin;
}

.App-headshot {
  position: absolute;
  top: 160px;
  right: 50px;
  
}

.App-longdash {
  padding : .2em 0 0 0;
  width : 9em;
  margin : 50px;
  background-color: #fff;
  top: 470px;
  left: 285px;
  position: absolute;
}

.App-name {
  position: absolute;
  top: 70px;
  left: 220px;
  font-size: xx-large;
  color: whitesmoke;
}

.App-title {
  position: absolute;
  top: 530px;
  left: 340px;
  font-size: xx-large;
  color: whitesmoke;
}

.App-projects {
  position: absolute;
  top: 70px;
  right: 320px;
  font-size: xx-large;
  color: whitesmoke;
}

.App-about {
  position: absolute;
  top: 70px;
  right: 220px;
  padding: 10px;
  font-size: xx-large;
  color: whitesmoke;
}

.App-slogan {
  position: absolute;
  top: 400px;
  left: 220px;
  font-size: xx-large;
  color: whitesmoke;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
